body {
  font-family: 'Ovo', serif;
  background-color: #F6F6F6;
  border-top: 5px solid #D0C289;
  border-bottom: 5px solid #D0C289;
  /* font-family: 'Fauna One', serif; */
  font-size: 14px;
  line-height: 1.75;
  padding-top: 50px;
}

.logo-hr{
  width: 50%;
}

.nav-item-divider{
  content: '|';
  font-size: 12px;
  font-weight: 300;
  margin-left: 15px;
}

.description-para {
  font-size: 16px;
  line-height: 1.75;
  /* font-family: 'Fauna One', serif; */
  font-family: 'Ubuntu', sans-serif;
  color: #000000a3;
  /* font-family: proxima-nova; */
}

.description-para strong {
  color: black;
  font-weight: 900;
}

.logo-text {
  display: inline-block;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  /* font-family: 'Allura'; */
  font-family: 'Ovo', serif;
}

.card .card-image{
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.card{
	margin-top: 20px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, -0.88);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, -0.88);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, -0.88);
}

.card:hover, .hero-container{
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
  box-shadow: 4 4px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
  transition: box-shadow 0.25s ease-in-out;
}

.card .card-content {
  padding: 10px;    
}

.card .card-content .card-title, .card-reveal .card-title{
  font-size: 24px;
  font-weight: 200;    
}

.card .card-action{
  padding: 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
  font-size: 15px;
  color: #ffab40;
  text-transform:uppercase;
  margin-right: 20px;    
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.card .card-action a:hover{    
  color:#ffd8a6;
  text-decoration:none;
}

.card .card-reveal{    
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  /*top: 0;*/
  left:0;
  bottom:0;
  height: 100%;
  z-index: 1;
  display: none;    
}

.card .card-reveal p{
  color: rgba(0, 0, 0, 0.71);
  margin:20px ;
}

.text-decoration-underline {
  text-decoration: underline;
}

.custom-ul li{
  margin-bottom: 10px;
}

.hero-image{
  max-width: 500px;
  width: 100%;
  height: auto;
}

.hero-text {
  color: #6d4444;
}

.custom-thumbnail {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

/* Showcase modal */
.showcaseModal.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .showcaseModal.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (max-width: 768px) { 
  .showcaseModal .modal-dialog {
    margin-top: 20vh;
  }
}

.showcaseModal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* Showcase modal ends */

@media (max-width: 992px) {
  body{
    padding-top: 25px;
  }

  .logo-hr{
    width: 100%;
  }

  .logo-text {
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    /* font-family: 'Allura'; */
    font-family: 'Ovo', serif;
  }

  .nav-item-divider {
    display: none;
  }

  .description-para {
    font-size: 12px;
  }
  
  .mt-5 {
    margin-top: 2rem !important;
  }

  .px-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}